[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "zsh/pure"]
	path = zsh/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "zsh/ohmyzsh"]
	path = zsh/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "nvim/packer.nvim"]
	path = nvim/packer.nvim
	url = https://github.com/wbthomason/packer.nvim.git
[submodule "alacritty/catppuccin"]
	path = alacritty/catppuccin
	url = https://github.com/catppuccin/alacritty.git
